<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:site_name" content="Abdurrahim ahmadows page" />
  <meta property="og:url" content="ahmadow.tk" />
  <meta property="og:type" content="website" />
  <meta name="title" property="og:title" content="{{posts.title}}" />
  <meta name="image" property="og:image" content="{{posts.image}}" />
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="628">
  <meta name="description" property="og:description" content="{{posts.description}}" />
  <meta name="twitter:card" content="{{posts.description}}" />
  <meta name="twitter:site" description="@ebdurrehm" />
  <meta name="twitter:title" content="{{posts.title}}" />
  <meta name="twitter:description" content="{{posts.description}}" />
  <meta name="twitter:image:src" content="{{posts.image}}">
  <meta name="twitter:domain" content="https://ahmadow.tk">

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://kit.fontawesome.com/7566c6a24f.js" crossorigin="anonymous"></script>
  <script async charset="utf-8" src="//cdn.embedly.com/widgets/platform.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/design/article.css">
  <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="512x512" href="icons/android-chrome-512x512.png" />

  <title>{{posts.title}}</title>
</head>

<body>

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0&appId=637816620536448&autoLogAppEvents=1"
    nonce="eUA3eiOb"></script>
  </script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <nav>
    <ul id="nav-links">
      <li><a href="/"><b>&#128309 HOME</b></a></li>
      <li><a href="/blog"><b>&#128466 BLOG</b></a></li>
      <li><a href="/blog/user/login"><b>&#128272 LOGIN</b></a></li>
    </ul>
  </nav>
  <div class="container">
    <div class="article-container">
      <h4 style="margin-bottom: 5px; color: blue;">{{posts.tags[0].toUpperCase()}}</h4>
      <h1>{{posts.title}}</h1>

      <p style="color:#75706f; font-style:italic;">{{posts.description}}</p>
      <hr>

      <div class="share">

        <!-- Go to www.addthis.com/dashboard to customize your tools <div class="addthis_inline_share_toolbox"></div>-->

        <div class="share-btn" data-url="https://ahmadow.tk/articles/6176d71ab2b897919660a106">
          <a class="crc btn-vk" data-id="vk"><i class="icon-social fab fa-vk"></i></a>
          <a class="crc btn-facebook" data-id="fb"><i class="icon-social fab fa-facebook-square"></i></a>
          <a class="crc btn-twitter" data-id="tw"><i class="icon-social fab fa-twitter"></i></a>
          <a class="crc btn-telegram" data-id="tg"><i class="icon-social fab fa-telegram"></i></a>
          <a class="crc btn-evernote" data-id="ev"><i class="icon-social far fa-sticky-note"></i></a>
          <a class="crc btn-linkedin" data-id="in"><i class="icon-social fab fa-linkedin"></i></a>
          <a class="crc btn-skype" data-id="sk"><i class="icon-social fab fa-skype"></i></a>
          <a class="crc btn-whatsapp" data-id="wa"><i class="icon-social fab fa-whatsapp"></i></a>
          <a class="crc btn-hn" data-id="hn"><i class="icon-social fab fa-hacker-news"></i></a>
          <a class="crc btn-mail" data-id="mail"><i class="icon-social fas fa-at"></i></a>
          <a class="crc btn-print" data-id="print"><i class="icon-social fas fa-print"></i></a>
        </div>

        <!--
      <div class="icon"> <div class="icon-wrapper">
      <i class="fab fa-facebook-f icon-style"></i>
      </div>
       <div class="icon-wrapper">
       <i class="fab fa-twitter icon-style"></i>
      </div>
       <div class="icon-wrapper">
       <i class="fab fa-linkedin-in icon-style"></i>
      </div>
      </div>-->
        <a id="next-article" href="">Next article</a>

      </div>

      <hr>
    </div>

    <div class="article-container">
      <div class="article-image">
        <img src="{{posts.image}}">
      </div>
      <div class="author">

        <div class="author-image"></div>
        <div class="author-info">
          <h4>{{posts.author}}</h4>
          <p>Evergreen Content Editor, 15+ Years of Publishing and Content Marketing Experience</p>
          <div class="icon">
            <div class="social-link">
            <div class="icon-wrapper">
              <i class="fab fa-facebook-f icon-style"></i>
            </div>
            <div class="icon-wrapper">
              <i class="fab fa-twitter icon-style"></i>
            </div>
            <div class="icon-wrapper">
              <i class="fab fa-linkedin-in icon-style"></i>
            </div>
            </div>
            <div id="date"><span class="time"> <span class="tm">
                  <i class="fa fa-calendar-o icon" aria-hidden="true">
                  </i> {{posts.date.toLocaleDateString()}}</span>
                <span class="tm">
                  <i class="fa fa-calendar-o icon" aria-hidden="true">
                  </i> {{posts.date.toLocaleTimeString()}}</span>
                <span class="tm"><i class="fa fa-clock-o icon" aria-hidden="true"></i><span id="readTime">
                  </span> min read</span></span> </div>
          </div>

        </div>

      </div>


      <div onmouseout="countRead();">
        <p id="content">{{posts.content}}</p>
      </div>
      <hr id="postUnderLine" />
      <!-- ShareThis BEGIN -->
      <div class="sharethis-inline-reaction-buttons"></div><!-- ShareThis END -->

      <div class="row">
        <div class="col-12">
          <div class="comments" id="comment">
            <div class="comments-details">
              <div class="tooltip"><span class="tooltiptext">Comments</span><i
                  class="fas fa-comment postComment"></i><span id="totalComment"> {{posts.comment.length}}</span></div>
              <div class="tooltip" id="eyeRead"><span style="font-size: 15px;" class="tooltiptext">It was read <span
                    id="numb">{{posts.readCount}}</span> times</span><i class="fas fa-eye"></i> <span
                  style="font-size: 15px;" id="countRead">{{posts.readCount}}</span></div>
              <button class="tooltip" id="likePost" onclick="likePost()"><span class="tooltiptext">Like the
                  post</span><i class="fab fa-gratipay like"></i> <span id="postLike">{{posts.likes}}</span></button>
            </div>
            @if(id)
            <div class="comment-box add-comment">
              <span class="commenter-pic">
                <img src="{{user.userImage}}" id="commentarImage" style="width: 53px;height: 53px;">
              </span>
              <span class="commenter-name">
                <p id="name" data-id="{{user._id}}">{{user.usrFirstName}}</p>
                <p id="email">{{user.usrLastName}}</p>
                <textarea rows="5" cols="90" placeholder="Add a public comment" id="text"></textarea>
                <input type="text" id="id" value="{{posts._id}}" style="display:none;">
                <button class="tooltip" type="submit" class="btn btn-default" onclick="addComment();"><span
                    class="tooltiptext">Add comment</span>Comment</button>

              </span>
            </div>
            @else
            <div class="comment-box add-comment">
              <input type="text" id="id" value="{{posts._id}}" style="display:none;">
              <h3>Please login firstly, then you can write comment <a href="/blog/user/login">Login</a></h3>
            </div>
            @endif
            <div id="addComment"></div>
            @each(comment in comments)
            <div class="comment-box">
              <span class="commenter-pic">
                <img src="{{comment.image}}"  style="width: 53px;height: 53px;">
              </span>
              <span class="commenter-name">
                <a href="/users/profile/{{comment.commentarId}}">{{comment.name}}</a> <span
                  class="comment-time">{{comment.createdAt.toLocaleString()}}</span>
              </span>
              <p class="comment-txt more">{{comment.text}}</p>
              <div class="comment-meta">
                <i class="fa fa-thumbs-o-up tooltip" aria-hidden="true" data-id="{{comment._id}}" onclick="like()"><span
                    class="tooltiptext">Like the comment</span>{{'     '}}{{comment.like}}</i>
                <i class="fa fa-thumbs-o-down tooltip" aria-hidden="true" data-id="{{comment._id}}"
                  onclick="dislike();"><span class="tooltiptext">Dislike the comment</span> {{comment.dislike}}</i>
                <button class="comment-reply reply-popup" data-id="{{comment._id}}"><i class="fa fa-reply-all"
                    aria-hidden="true"></i>
                  Reply</button>
              </div>
            </div>
            @endeach
          </div>
        </div>
      </div>


    </div>

  </div>


  <script src="/js/share-buttons.js"></script>
  <script src="/js/article.js"></script>
  <script src="/js/moment/src/moment.js"></script>
</body>

</html>

