<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/design/dashboard.css">
  <script src="https://cdn.ckeditor.com/4.16.2/full/ckeditor.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Admin Dashboard</title>
</head>

<body>
  <script src="https://kit.fontawesome.com/7566c6a24f.js" crossorigin="anonymous"></script>
  <div class="sidebar">
    <div id="logo">
      <img
        src="https://images.unsplash.com/photo-1598198414976-ddb788ec80c1?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNTY2OTM0MQ&ixlib=rb-1.2.1&q=85"
        alt="logo">
      <p>Abdurrahim</p>
    </div>

    <ul id="nav">

      <li onclick="display('create')"><a id="createBtn" href="#"><i class="fas fa-plus-square icon"></i><span>Create
            post</span></a></li>

      <li onclick="display('searchModal')"><a id="updateBtn" href="#"><i class="fas fa-pen-square icon"></i><span>Update
            post</span></a></li>
      <li><a href=""><i class="fas fa-minus-square icon"></i> <span>Delete post</span></a></li>
      <li><a href="#"><i class="fas fa-search icon"></i> <span>Search post</span></a></li>
      <li><a href="#"><i class="fas fa-user-plus icon"></i> <span>Create user</span></a></li>

      <li><a href="#"><i class="fas fa-user-edit icon"></i><span>Update user</span></a></li>
      <li><a href="#"><i class="fas fa-user-minus icon"></i><span>Delete user</span></a></li>

    </ul>

  </div>

  <!-- search post -->
  <div class="modal" id="searchModal">
    <div class="modal-content" id="updt-content">
      <span class="x" onclick="hide('searchModal')">X</span>
      <div id="response">

      </div>
      <div class="formWrp">
        <form action="/admin/search" method="GET" id="searchPost" enctype="multipart/form-data">
          <h3> Search post<h3>
              <label>Enter keyword</label>
              <input name="keyword" id="keyword" type="text">
              <button onclick="searchPost('searchPost', 'get', event)" type="submit">Search</button>
        </form>

      </div>
    </div>
  </div>
  </div>

  <!--Create post -->
  <div id="create" class="modal">
    <div class="modal-content">
      <span class="x" onclick="hide('create')">X</span>

      <h1>Your content</h1>

      <div class="container-form">
        <form id="f0" method="POST" action="/admin/store" enctype="multipart/form-data">
          <div class="title-form">
            <label>Write title for new article</label>
            <input type="text" name="title">
          </div>

          <div class="author">
            <label>Author name</label>
            <input type="text" name="author">
          </div>
          <div class="description">
            <label>Add description</label>
            <input type="text" name="description">
          </div>
          <div class="content">
            <label>Write content</label>
            <textarea id="editor1" name="content" cols="30" rows="10" placeholder="Content..."></textarea>
          </div>
          <div class="tags">
            <label>Add tags, sperate each tag with comma</label>
            <input type="text" name="tags">
          </div>
          <div class="image-form">
            <input type="file" name="image">
          </div>
          <button type="submit" onclick="request('f0', 'post', event)">Create</button>
        </form>
      </div>

    </div>
  </div>


  <!--Update post -->
  <div id="updatePost" class="modal">
    <div class="modal-content">
      <span class="x" onclick="hide('updatePost')">X</span>

      <h1>Your content</h1>

      <div class="container-form">
        <form id="updateForm" onsubmit="updatePost(event, this)" enctype="multipart/form-data">
          <div class="title-form">
            <label>Write title for new article</label>
            <input type="text" name="title">
          </div>

          <div class="author">
            <label>Author name</label>
            <input type="text" name="author">
          </div>
          <div class="description">
            <label>Add description</label>
            <input type="text" name="description">
          </div>
          <div class="content">
            <label>Write content</label>
            <textarea id="editor1" name="content" cols="30" rows="10" placeholder="Content..."></textarea>
          </div>
          <div class="tags">
            <label>Add tags, sperate each tag with comma</label>
            <input type="text" name="tags">
          </div>
          <button type="submit">Update</button>
        </form>
      </div>

    </div>
  </div>

  <!--message modal-->
  <div class="modal" id="message">
    <div class="modal-content" id="updt-content">
      <span class="x" onclick="hide('message')">X</span>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <ul class="list-unstyled chat-list mt-2 mb-0" id="rooms">
                    
                </ul>
            </div>
            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0">Aiden Chavez</h6>
                                <small>Last seen: 2 hours ago</small>
                            </div>
                        </div>
                        <div class="col-lg-6 hidden-sm text-right">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                        </div>
                    </div>
                </div>
                <div class="chat-history">
                    <ul class="m-b-0">
                        
                    </ul>
                </div>
                <div class="chat-message clearfix">
                    <div class="input-group mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-send"></i></span>
                        </div>
                        <form id="adminMsgForm">
                        <input type="text" class="form-control" placeholder="Enter text here..." id="adminMsg">                                    
                       <button type="submit" onclick="adminClient.writeMessage(event)">Send</button>
                      </form>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
     
    </div>
  </div>
  </div>



  <div id="navbar">
    <div id="search"><input type="text" placeholder="Search post..."><i class="fas fa-search"></i></div>
    <ul id="navbar-ul">

      <li><a href="#">
          <div class="box">
            <div class="text" onclick="display('message')">J. Gomes added new comment</div>
            <div class="text">J. Gomes added new comment</div>
            <div class="text">J. Gomes added new comment</div>
            <div class="text">J. Gomes added new comment</div>
          </div><span class="notification">12</span><i class="fas fa-envelope notf"></i>
        </a></li>
      <li><a href="#"><span class="notification">13</span><i class="fas fa-bell notf"></i></i><span></span></a></li>
      <li><a href="#"><i class="fas fa-user-shield notf"></i><span></span></a></li>
    </ul>
  </div>
  <div id="dashboard">

    <div id="chart1"></div>
    <div id="chart1"></div>
  </div>

  <!-- success message-->
  <div class="modal" id="success">
    <div class="modal-content" id="scs-content">
      <span class="x" onclick="hide('success')">X</span>
      <img src="/images/scs.gif" alt="success">
      <p id="scsMsg">The new Post successfully created!</p>
      <p><a href="" id="new">New post</a></p>
    </div>
  </div>
  <!-- error message -->
  <div class="modal" id="failure">
    <div class="modal-content" id="fail-content">
      <span class="x" onclick="hide('failure')"></span>
      <p>Something get wrong</p>
      <p id="fail-msg"></p>
    </div>
  </div>
  <!-- live chat -->
  <div class="customer-support" id="SupportChat" >
    <div class="button-container" style>
      <button>
        <img src="https://res.cloudinary.com/idemo/image/upload/dpr_1.0,c_thumb,g_face,w_200,h_200/woman.jpg" />
        <span class="fa fa-comments"></span>
        <span class="fa fa-times"></span>
      </button>
      <div class="chat-info-balloon">
        <img src="https://res.cloudinary.com/idemo/image/upload/dpr_1.0,c_thumb,g_face,w_200,h_200/woman.jpg" />
        <div class="message-form">
          <p>Chat with our customer support</p>
          <input type="text" placeholder="Type your message here"/>
        </div>
      </div>
    </div>
  </div>

 <!-- Website scripts -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/dashboard.js"></script>
  <script src="/js/clientAdmin.js"></script>
</body>

</html>