<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Css-->
    <link rel="stylesheet" href="/design/portfolio.css"/>
    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
    rel="icon"
    type="image/png"
    sizes="512x512"
    href="icons/android-chrome-512x512.png"
  />

    <!-- Animate CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    
    <title>Abdurrahim | Web developer</title>
</head>
<body>
  <script async id="slcLiveChat"
   src="https://widget.sonetel.com/SonetelWidget.min.js" 
  data-account-id="207846582"></script>
    
    <!-- Navbar -->
    <nav>
        <h1>Abdurrahim Ahmadov</h1>
        <ul class="navigation">
          <li><a href="#about" class="nav-link">About</a></li>
          <li><a href="#skills" class="nav-link">Skills</a></li>
          <li><a href="#projects" class="nav-link">Projects</a></li>
          <li><a href="/blog" class="nav-link">Blog</a></li>
          <li><a href="#contact" class="nav-link">Contact</a></li>
        </ul>
        <button class="burger-menu" id="burger-menu">
          <ion-icon class="bars" name="menu-outline"></ion-icon>
        </button>
  </nav>

    <!-- Hero Section -->
    <section class="hero" id="about">
        <img
          src="dev.svg"
          alt="jane-doe"
          loading="eager"
          class="hero-img"
        />
        <div class="bio animate__animated animate__shakeX slide-in from-left">
            <h2 class="bio-title fade-in">About Me</h2>
            <p class="bio-text slide-in from-right">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sed
              dolorem fugit sapiente porro veniam pariatur dolore nostrum delectus
              inventore tempore minus nemo, iste ullam illo laboriosam maiores
              repudiandae quos!
            </p>
            <button class="download">Download my Cv</button>
          </div>
        
  </section>

    <!-- More about -->
    <div class="more-about fade-in">
        <h2>More About Me</h2>
        <p class="slide-in from-left">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          nesciunt excepturi quos obcaecati incidunt voluptatem ipsam sunt ipsum,
          autem deleniti cupiditate molestias quis unde quae totam porro dicta
          iure animi inventore, veniam hic! Omnis nulla, delectus a voluptatibus
        </p>
        <p class="slide-in from-right">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur
          nostrum dolor minus, libero delectus praesentium perferendis
        </p>
        <p class="slide-in from-left">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero,
          consequuntur labore? Ea totam voluptas amet!
        </p>
      </div>

    <!-- Skills section -->
    <section class="skills fade-in" id="skills">
        <h2 class="skill-header slide-in">My Top Skills</h2>
  
        <div class="skills-wrapper">
          <div class="first-set animate__animated animate__pulse">
            <img
              src="html.svg"
              alt=""
              loading="lazy"
              class="icon icon-card slide-in from-left"
            />
            <img
              src="js.svg"
              alt=""
              loading="lazy"
              class="icon icon-card slide-in from-left"
            />
            <img
              src="node.svg"
              alt=""
              loading="lazy"
              class="icon icon-card slide-in from-left"
            />
          </div>
  
          <div class="second-set animate__animated animate__pulse">
            <img
              src="react.svg"
              alt=""
              loading="lazy"
              class="icon icon-card slide-in from-left"
            />
            <img
              src="mongodb.svg"
              alt=""
              loading="lazy"
              class="icon icon-card slide-in from-left"
            />
            <img
              src="bootstrap.svg"
              alt=""
              loading="lazy"
              class="icon icon-card slide-in from-left"
            />
          </div>
        </div>
      </section>

    <!-- Projects section -->
    <section class="projects fade-in" id="projects">
        <h2 class="projects-title slide-in from-left">Some of my Recent Projects</h2>
        <div class="projects-container">
          <div class="project-container project-card">
            <img
              src="project1.png"
              alt="expense-tracker"
              loading="lazy"
              class="project-pic slide-in from-left"
            />
            <h3 class="project-title fade-in">Expense Tracker</h3>
            <p class="project-details slide-in from-left">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
              ratione vel inventore labore commodi modi quos culpa aut saepe!
              Alias!
            </p>
            <a href="#" target="_blank" class="project-link download">Check it Out</a>
          </div>
          <div class="project-container project-card">
            <img
              src="project2.jpg"
              alt="netflic-clone"
              loading="lazy"
              class="project-pic slide-in from-left"
            />
            <h3 class="project-title fade-in">Netflix Clone</h3>
            <p class="project-details slide-in from-left">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
              ratione vel inventore labore commodi modi quos culpa aut saepe!
              Alias!
            </p>
            <a href="#" target="_blank" class="project-link download">Check it Out</a>
          </div>
          <div class="project-container project-card">
            <img
              src="project3.jpg"
              alt="greeny-earth"
              loading="lazy"
              class="project-pic slide-in from-left"
            />
            <h3 class="project-title fade-in">Greeny Earth</h3>
            <p class="project-details slide-in from-left">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
              ratione vel inventore labore commodi modi quos culpa aut saepe!
              Alias!
            </p>
            <a href="#" target="_blank" class="project-link download">Check it Out</a>
          </div>
        </div>
      </section>

    <!-- Contact section -->
    <section class="contact slide-in from-left" id="contact">
        <h2>Get In Touch With Me</h2>
        <div class="contact-form-container">
          <div class="contact-form">
            <form action="https://formspree.io/f/xyylngw" method="POST">
              <div class="form-control">
                <label for="name">Name</label>
                <input
                  type="text"
                  id="name"
                  name="sender-name"
                  placeholder="Enter Your Name"
                  class="input-field"
                  required
                />
              </div>
              <div class="form-control">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  name="sender-email"
                  placeholder="Enter Your Email"
                  class="input-field"
                  required
                />
              </div>
              <div class="form-control">
                <label for="message">Message</label>
                <textarea
                  id="message"
                  cols="60"
                  rows="10"
                  placeholder="Enter Your Message"
                  name="message"
                  class="input-field"
                  required
                ></textarea>
              </div>
              <input
                type="submit"
                value="Submit"
                id="submit-btn"
                class="submit-btn"
              />
            </form>
          </div>
        </div>
      </section>

    <!-- Social accounts - Fixed to the right -->
    <div class="socials">
        <a href="#" target="_blank"
          ><img src="github.gif"
            alt="Twitter"
            loading="lazy"
            class="socicon"
        /></a>
        <a href="#" target="_blank"
          ><img
            src="facebook.gif"
            alt="Instagram"
            loading="lazy"
            class="socicon"
        /></a>
        <a href="#" target="_blank"
          ><img
            src="linkedin.gif"
            alt="Linkedin"
            loading="lazy"
            class="socicon"
        /></a>
        <a href="#" target="_blank"
          ><img src="twitter.gif" alt="Github" class="socicon"
        /></a>
    </div>

    <!-- Scroll to top -->
    <i class="scroll-up" id="scroll-up"
      ><img
        src="up.gif"
        class="socicon up-arrow"
        alt="scroll-up"
    /></i>

    <!-- Footer section -->
  <div class="footer">
    <div class="footer-infos">
     <p>Blog</p>
     <p>Blog</p>
     <p>Blog</p>
     <p>Blog</p>
    </div>
    <div class="footer-infos">
      <p>Blog</p>
      <p>Blog</p>
      <p>Blog</p>
      <p>Blog</p>
    </div>
  </div>
  

    <!-- Website scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/index.js"></script>

    <!-- Ion icons scripts -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
    
</body>
</html>