<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/design/dashboard.css">
  <script src="https://cdn.ckeditor.com/4.16.2/full/ckeditor.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Admin Dashboard</title>
</head>

<body>
  <script src="https://kit.fontawesome.com/7566c6a24f.js" crossorigin="anonymous"></script>
  <div class="sidebar">
    <div id="logo">
      <img
        src="https://images.unsplash.com/photo-1598198414976-ddb788ec80c1?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNTY2OTM0MQ&ixlib=rb-1.2.1&q=85"
        alt="logo">
      <p>Abdurrahim</p>
    </div>

    <ul id="nav">

      <li onclick="display('create')"><a id="createBtn" href="#"><i class="fas fa-plus-square icon"></i><span>Create
            post</span></a></li>

      <li onclick="display('searchModal')"><a id="updateBtn" href="#"><i class="fas fa-pen-square icon"></i><span>Update
            post</span></a></li>
      <li><a href=""><i class="fas fa-minus-square icon"></i> <span>Delete post</span></a></li>
      <li><a href="#"><i class="fas fa-search icon"></i> <span>Search post</span></a></li>
      <li><a href="#"><i class="fas fa-user-plus icon"></i> <span>Create user</span></a></li>

      <li><a href="#"><i class="fas fa-user-edit icon"></i><span>Update user</span></a></li>
      <li><a href="#"><i class="fas fa-user-minus icon"></i><span>Delete user</span></a></li>

    </ul>

  </div>

  <!-- search post -->
  <div class="modal" id="searchModal">
    <div class="modal-content" id="updt-content">
      <span class="x" onclick="hide('searchModal')">X</span>
      <div id="response">

      </div>
      <div class="formWrp">
        <form action="/admin/search" method="GET" id="searchPost" enctype="multipart/form-data">
          <h3> Search post<h3>
              <label>Enter keyword</label>
              <input name="keyword" id="keyword" type="text">
              <button onclick="request('searchPost', 'get', event)" type="submit">Search</button>
        </form>

      </div>
    </div>
  </div>
  </div>

  <!--Create post -->
  <div id="create" class="modal">
    <div class="modal-content">
      <span class="x" onclick="hide('create')">X</span>

      <h1>Your content</h1>

      <div class="container-form">
        <form id="f0" method="POST" action="/admin/store" enctype="multipart/form-data">
          <div class="title-form">
            <label>Write title for new article</label>
            <input type="text" name="title">
          </div>

          <div class="author">
            <label>Author name</label>
            <input type="text" name="author">
          </div>
          <div class="description">
            <label>Add description</label>
            <input type="text" name="description">
          </div>
          <div class="content">
            <label>Write content</label>
            <textarea id="editor1" name="content" cols="30" rows="10" placeholder="Content..."></textarea>
          </div>
          <div class="tags">
            <label>Add tags, sperate each tag with comma</label>
            <input type="text" name="tags">
          </div>
          <div class="image-form">
            <input type="file" name="image">
          </div>
          <button type="submit" onclick="request('f0', 'post', event)">Create</button>
        </form>
      </div>

    </div>
  </div>


  <!--Update post -->
  <div id="updatePost" class="modal">
    <div class="modal-content">
      <span class="x" onclick="hide('updatePost')">X</span>

      <h1>Your content</h1>

      <div class="container-form">
        <form id="updateForm" onsubmit="updatePost(event, this)" enctype="multipart/form-data">
          <div class="title-form">
            <label>Write title for new article</label>
            <input type="text" name="title">
          </div>

          <div class="author">
            <label>Author name</label>
            <input type="text" name="author">
          </div>
          <div class="description">
            <label>Add description</label>
            <input type="text" name="description">
          </div>
          <div class="content">
            <label>Write content</label>
            <textarea id="editor1" name="content" cols="30" rows="10" placeholder="Content..."></textarea>
          </div>
          <div class="tags">
            <label>Add tags, sperate each tag with comma</label>
            <input type="text" name="tags">
          </div>
          <button type="submit">Update</button>
        </form>
      </div>

    </div>
  </div>

  <div id="navbar">
    <div id="search"><input type="text" placeholder="Search post..."><i class="fas fa-search"></i></div>
    <ul id="navbar-ul">

      <li><a href="#">
          <div class="box">
            <div class="text">J. Gomes added new comment</div>
            <div class="text">J. Gomes added new comment</div>
            <div class="text">J. Gomes added new comment</div>
            <div class="text">J. Gomes added new comment</div>
          </div><span class="notification">12</span><i class="fas fa-envelope notf"></i>
        </a></li>
      <li><a href="#"><span class="notification">13</span><i class="fas fa-bell notf"></i></i><span></span></a></li>
      <li><a href="#"><i class="fas fa-user-shield notf"></i><span></span></a></li>
    </ul>
  </div>
  <div id="dashboard">

    <div id="chart1"></div>
    <div id="chart1"></div>
  </div>

  <!-- success message-->
  <div class="modal" id="success">
    <div class="modal-content" id="scs-content">
      <span class="x" onclick="hide('success')">X</span>
      <img src="/images/scs.gif" alt="success">
      <p id="scsMsg">The new Post successfully created!</p>
      <p><a href="" id="new">New post</a></p>
    </div>
  </div>
  <!-- error message -->
  <div class="modal" id="failure">
    <div class="modal-content" id="fail-content">
      <span class="x" onclick="hide('failure')"></span>
      <p>Something get wrong</p>
      <p id="fail-msg"></p>
    </div>
  </div>
  <script src="/js/dashboard.js"></script>
</body>

</html>